*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-weight: lighter;
}

.active{
    font-weight:900;
}

.logo h1{
    color: rgba(0, 0, 0, 0.379);
}

.nav, nav{
    padding: 10px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content:space-between;
    position: fixed;
    
}

.nav-menu{
    display: flex;  
    top: 0;
    ul{
      display: flex;  
      li{
        padding: 10px;
        a{
            color: black;
        }
      }
    }

   
    button{
        padding: 10px 40px;
        margin-right: 20px;
        background-color: white;
        border: 1px solid black;
        border-radius: 20px;
        
    }
    

}

.nav-menu button:hover{
    background-color: black;
    color: white;
}

.main1{
    width: 100%;
    height: 800px;
    background-image: url(../img/lodka.png);
    background-size: cover;
    background-repeat: no-repeat;
}

button{
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;

    
}

.main-content{
    text-align: center;
    padding: 300px;
    h1,h2{
        color: white;
    }
    h1{
        font-size: 40px;
    }

    button{
        margin-top: 10px;
    }
}
.main{
    width: 100%;
    text-align: center;
}

.main2{
    margin-top: 30px;
    
    p{
        margin-top: 10px;
    }
    
    a{
        color: green;
    }
}

.container{
    width: 88%;
    margin: auto;
}
.climbing-img, .offroad-img{
    width: 50%;
    height: 300px;
    img{
        height: 100%;
        width: 100%;
    }
}
.climbing, .offroad{
    display: flex;
    margin-top: 50px;
}

.h2{
    color: #87bba2;
}

.climbing-txt, .offroad-txt{
    width: 50%;
    margin-top: 50px;
    button{
        background-color: #87bba2;
    }
}
.offroad{
    margin-top: 100px;
}

.container1{
    width: 94%;
    margin: auto;
    margin-top: 100px;
}


.gallery{
    margin-top: 50px;
    h1{
        margin-bottom: 30px;
    }
    display: flex;
    justify-content: space-between;
}

.gallery-left, .gallery-right{
    width: 49%;
    height: 900px;
}

.gallery-left img{
    width: 100%;
    height: 100%;
}
/* 32 */
.gallery-top, .gallery-bottom{
    width: 100%;
    height: 438px;
    img{
        width: 100%;
        height: 100%;
    }
}
.gallery-bottom{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.gallery-bottom1, .gallery-bottom2{
    width: 48%;
    img{
        width: 100%;
        height: 100%;
    }
}

.aa{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    button{
        background-color: #87bba2;
    }
}

.social i{
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
    font-size: xx-large;
}

.bottom{
    width: 100%;
    background-color: #4e5e66;
    padding-top: 60px;
    height: 150px;
}

.bottom-bar h2{
    color: white;
}


.swiper {
    width: 600px;
    height: 300px;
  }

  .swiper-slide{
    img{
        width: 100%;
        height: 100%;
    }
  }


  .Gmain{
    margin-top: 50px;
    
    margin-bottom: 50px;
  }

  .Gnav{
    position: relative;
    padding-left: 30px;
  }










  .main-content{
    animation-duration: 3s;
    animation-name: slidein;
    transition: all 3s ease;
}




@keyframes slidein {

    0%{
        transform:translateY(0);
    }

    50%{
        transform: translateY(-150px);
    }

    100%{
        transform: translateY(0);
    }
  }